body {
  background-color: gray;
}

.emoji {
  font-size: 100px;
  margin-left: 10px;
}

.image {
  width: 200px;
}

.bimage {
  width: 400px;
}

p, h1, h2 {
  font-family: 'Mansalva', cursive;
}

.react-draggable, .cursor {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.emojiBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}